body{
	background-color:  #00ff00 ;
	background-repeat: repeat;


h1 {
  color: #0000ff; 
}

p {
  color: #ff0000; 

	font-family: Arial, "Helvetica Neue", sans-serif;


	text-align: justify;






